div.container {
	width: auto;
	margin: 0px;
	border: 1px solid gray;
	line-height: 150%;
}

div.header {
	padding: 0.5em;
	color: white;
	background-color: #6FA9C7;
	clear: left;
	text-align: center;
}

div.footer {
	padding: 0.5em;
	color: white;
	background-color: #6FA9C7;
	clear: left;
	text-align: center;
}

h1.header {
	padding: 0;
	margin: 0;
}

div.left {
	float: left;
	width: 220px;
	margin: 0;
	padding: 1em;
}

div.right {
	float: right;
	width: 160px;
	margin: 0;
	padding: 1em;
}

div.content {
	min-height: 100px;
	margin-left: 220px;
	padding: 1em;
}

.error-text-box {
	border: 1px solid red;
	background: white url("../images/Error.icon.gif")
		no-repeat left center;
	padding-left: 15px !important;
}

img {
	border: 0px;
}

.flt {
	float: left;
}

.menubg {
	clear: left;
	background-color: #6FA9C7;
	width: 202px;
}

.menu {
	float: left;
	clear: left;
	font: bold 11px Helvetica, Arial, sans-serif;
}

.menu li {
	margin: 0px 0px 0px 0px;
	list-style: none;
}

.menu a,.menu a:visited {
	width: 186px;
	height: 22px;
	margin: 0px 0px 2px -32px;
	position: relative;
	display: block;
	color: #cbe7f5;
	text-decoration: none;
	background: url(menubg2.jpg) no-repeat;
	padding: 4px 0 0 8px;
}

* html .menu a,.menu a:visited {
	width: 186px;
	height: 22px;
	margin: 0px 0px 2px -32px;
	position: relative;
	display: block;
	color: #cbe7f5;
	text-decoration: none;
	background: url(menubg2.jpg) no-repeat;
	padding: 4px 0 0 8px;
}

.menu a:hover,.menu a:active,.menu li.current_page_item a,.menu li.current_page_item a:visited
	{
	background: url(menubg1.jpg) no-repeat;
	text-decoration: none;
}

.bot {
	clear: left;
}